<script type="text/javascript">
    $(document).ready(function() {
        tooltipWrapper = $(".tooltip")
        tooltipWrapper.mousemove(function(e) {
            $(this).children('.custom_tooltip').css({'top': e.clientY +10, 'left': e.clientX + 10}).css('display', 'block');
        })
        tooltipWrapper.mouseout(function() {
            $(this).children('.custom_tooltip').css('display', 'none');
        })

        $('.weekday, .weekend').live('click', function(){
            var form = $(this).children('.stats_form'),
                container = $(this);
            $.ajax({
               type: 'POST',
               url: form.attr('action'),
               data: form.serialize(),
               success: function(data) {
                 $('.days_earned').html(data['days_earned'])
                 $('.days_left').html(data['days_left'])
               }
            });

            var dialog = $(this).children('.stats').clone().dialog({
                            modal : true,
                            resizable : false,
                            draggable : false,
                            width : 160,
                            height : 120,
                            show : 'blind',
                            hide : 'explode'
                        })
            $('.ui-widget-overlay').live("click", function() {
                dialog.dialog("close");
            });
        });
        $(".issue").click(function(e) {
          e.stopPropagation();
        });

        $('.previous_month').on('click', function(e){
          e.preventDefault()
          $('#month option:selected').prev().attr('selected', 'selected');
          $(this).parents("form").submit();
        })

        $('.next_month').on('click', function(e){
          e.preventDefault()
          $('#month option:selected').next().attr('selected', 'selected');
          $(this).parents("form").submit();
        })

        $('#month, #year').on('change', function(){
          $(this).parents("form").submit();
        })

        $('.move_to_today').on('click', function(e){
          e.preventDefault()
          $('#month option[value="<%= Date.today.month %>"]').prop('selected',true).parents("form").submit();
        })

        $('.month, .year').on('click', function(e) {
          e.preventDefault()
          $('#calendars').find('.calendar').not('.hidden').addClass('hidden')
          $('#calendar_' + $(this).attr('class')).removeClass('hidden')
          var title = $('.calendar_title')
          title.html(title.html().replace(/\(.*\)/, '(' + $(this).html() + ')'))
        })
    });
</script>

<div id="calendars">
    <div class="contextual">
      <h2 class="calendar_title"><%= "#{l(:calendar_title)}(#{l(:month_events)})" %></h2>

      <div id="calendar_month" class="calendar">
        <%= render 'calendar_month', :calendar => @calendar, :events => @events, :year => @year, :extra => false %>
      </div>

      <div id="calendar_year"  class="calendar hidden">
        <% 1.upto(12) do |i| %>
          <%= render 'calendar_month', :calendar => Redmine::Helpers::Calendar.new(Date.civil(@year, i, 1), current_language, :month),
                     :events => @year_events,
                     :year => @year,
                     :extra => true,
                     :month => i %>
        <% end %>
      </div>
    </div>
</div>

<% content_for :sidebar do %>
	<%=render :partial => "sidebar" %>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'holidays', :plugin => 'redmine_holidays' %>
<% end %>